<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="STDOUT_PATTERN"
              value="%blue(%d{yyyy-MM-dd HH:mm:ss.SSS}) %levelHighlight(%5p) %magenta(%pid) --- %cyan([%15.15t]) \r\n%replace(%caller{1}){'\t|Caller.{1}0', ''} : %boldWhite(%m%n)" />
    <property name="FILE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %pid --- [%15.15t] %-40.40logger{39} [%4.4line] : %m%n" />
    <property name="LOGGINE_FILE_HOME" value="F:\logs" />

    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file.path:-${LOGGINE_FILE_HOME}}\${logging.file.name:-test}.log</file>
        <append>true</append>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.name:-test}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${logging.file.max.size:-100MB}</maxFileSize>
            <maxHistory>${logging.file.max.history:-10}</maxHistory>
            <totalSizeCap>${logging.file.total.size,cap:-20GB}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15.15t] %-40.40logger{39} [%4.4line] : %m%n</pattern>
        </encoder>
    </appender>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="PatternLayout">
                <pattern>
                    ${logging.console.pattern:-${STDOUT_PATTERN}}
                </pattern>
            </layout>
        </encoder>
    </appender>
    
    <logger name="org.apache.zookeeper" level="error"/>
   
    <root level="DEBUG">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>
</configuration>